{% extends 'dataviewer/base.html' %}
{% block page %}
  <div class="row-fluid">
    <div class="span7">
        <div class="viz-header">{{ resource['name'] }}</div>
    </div>
  </div>
  <div class="row-fluid">
    <div id="chart" class='chart-container'>
      <svg></svg>
    </div>
  </div>
   <div class="row-fluid notes">
    <div class="notes-container">
      <span class ="notes-heading">
      
      </span>
      <span class="notes-content">
      </span>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script>
    var resource_url = "{{ h.view_resource_url(resource_view, resource, package) }}";
    var resource ={{ h.literal(h.dump_json(resource)) }};
  </script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js'></script>
  
  {% resource 'base_css/budgetviz_base.css' %}
  {% resource 'timeseriesrbi/main' %}
{% endblock %}
