
{% block page %}
<div class="visualization-container visible-desktop"> 
  <div class="row-fluid header-container">
    <div class="span11">
      <div class="viz-header">{{ resource['name'] }}</div>
    </div>
  </div>
  <div class="row-fluid chart-area">
  <div class="span3">
  <h4 class="text-center"> Select from the records</h4>
    <div  id="item-select" style=" "></div>
    </div>
    <div class="span9">
      <div id="chart" class='chart-container'>
        <svg></svg>
      </div>
    </div>
  </div>
  <div class="row-fluid notes">
    <div class="notes-container">
      <span class ="notes-heading">
      </span>
      <span class="notes-content">
      </span>
    </div>
    <div class="unit-note">
      <span class ="unit-note-heading">
      </span>
      <span class="unit-note-content">
      </span>
    </div>
  </div>
</div>
<div class="visible-tablet visible-phone na-text">
The visualization are not available on mobile and tablet devices. <br>
Please use Desktop/Laptop device to view the them. 
</div>
{% endblock %}

{% block scripts %}
  <script>
    var resource_url = "{{ h.view_resource_url(resource_view, resource, package) }}";
    var resource ={{ h.literal(h.dump_json(resource)) }};
    var package_details = {{ h.literal(h.dump_json(package)) }}
  </script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js'></script>
  <script src="https://d3js.org/d3-format.v1.min.js"></script>

  {% resource 'base_css/budgetviz_base.css' %}
  {% resource 'timeseries_union/main' %}
{% endblock %}
