#chart,
svg {
    margin-top: 40px;
    height: 450px;
}

.btn,
label {
    font-weight: normal;
}

.visbtn:hover,
.visbtn:focus,
.visbtn:active,
.visbtn.active,
.visbtn.disabled,
.visbtn[disabled] {
    background-color: #dad6d6;
}

.option-select {
    float: right;
}

.header-container {
    width: 100%;
    padding-bottom: 20px;
    margin-top: 10px;
}

.nv-point {
    stroke-opacity: 1!important;
    stroke-width: 5px!important;
    fill-opacity: 0!important;
}

.nv-point.hover {
    stroke-width: 13px!important;
    fill-opacity: .95 !important;
    stroke-opacity: .95 !important;
    z-index: 1000;
}

.viz-header {
    padding: 0px;
}
