{% extends 'dataviewer/base.html' %}
{% block page %}
 <div class="infocard">
            <div class="row">
                <div class="span7">
                    <div class="viz-header">
                        <span id="viz-header"></span>
                </div>
            </div>
            <div class="span5">
                <div class="scheme-select">casdasdad</div>
                
            </div>
        </div>
        <hr>
      
        <div class="row-fluid">
            <div id ="options-select" class="span4">
                <div id="select-list"></div>
            </div>
            <div id="" class="span8">
                <div id="chart" class='with-3d-shadow with-transitions'>
                    <svg></svg>
                </div>
            </div>
           
        </div>
    </div> 
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script>
    var resource_url = "{{ h.view_resource_url(resource_view, resource, package) }}";
 
    var resource ={{ h.literal(h.dump_json(resource)) }};
    console.log(resource_url);
  </script>
 

  <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js'></script>
 
  {% resource 'groupbarchart_munc/main' %}
{% endblock %}
