{% extends 'dataviewer/base.html' %}
<style>
    .infocard{
      background: #262626 ;
    }
    </style>
{% block page %}
<div class="infocard">
        <div class="row">
            <div class="col-lg-7">
                <div class="viz-header">
                    <span id="viz-header"></h2>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="scheme-select"></div>
    
            </div>
        </div>
        <hr>
        <div id="chart" class='with-3d-shadow with-transitions'>
            <svg></svg>
        </div>
    </div>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script>
    var resource_url = "{{ h.view_resource_url(resource_view, resource, package) }}";
 
    
   
  </script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js'></script>
 
  {% resource 'ckanext-budgetviz/main' %}
{% endblock %}
  
