
{% block page %}

  <div class="row-fluid">
    <div class="span7">
      <div class="viz-header">{{ resource['name'] }}</div>
    </div>
    <div class="span5">
      <div class="option-select">Figures in - </div>
    </div>
  </div>
  <div class="row-fluid">
    <div id="chart" class='chart-container'>
      <svg></svg>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    var resource_url = "{{ h.view_resource_url(resource_view, resource, package) }}";
    var resource ={{ h.literal(h.dump_json(resource)) }};
  </script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js'></script>
  
  {% resource 'base_css/budgetviz_base.css' %}
  {% resource 'timeseriesipfs/main' %}
{% endblock %}
