.nvd3 text,
.nv-axislabel {
    font-family: 'Open Sans', sans-serif;
}
.visualization-container .row{
    margin-left:-20px!important;
}
text {
    font-size: 12px;
}

svg {
    display: block;
}

#chart,
svg {
    margin: 0 auto;
    padding: 0px;
    /*height: 400px;*/
    width: 100%;
    opacity: 0.95;
}

body {
    margin: 0 auto;
}



.nvd3 .nv-axis.nv-x path.domain {
    stroke-opacity: 1;
}

svg,
.nv-background rect {}

.nvd3 .nv-axis line {
    stroke: rgba(0, 0, 0, 0.05);
    opacity: 0.9;
    stroke-width:1;
}

path.domain {
    opacity: 0.5;
}

.nvtooltip.with-3d-shadow,
.with-3d-shadow .nvtooltip {
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
}

.nv-point {
    stroke-opacity: 1!important;
    stroke-width: 1px!important;
    fill-opacity: 0!important;
}

.nv-point.hover {
    stroke-width: 9px!important;
    fill-opacity: .95 !important;
    stroke-opacity: .95 !important;
}

.viz-header {
    float: left;
    color: rgb(0, 0, 0);
    padding: 10px 0px;
    padding-left: 10px;
    line-height: 1.25em;
    opacity: 0.8;
    font-size: 20px;
    opacity: 0.8;
    font-size: 130%;
}

.scheme-select {
    float: right;
}

.tick line {
    opacity: 1;
    stroke-width: 2;
}

#select-list > .nav-stacked > li {
    font-size: 13px;
}

.nv-axislabel {
    font: bold 14px "Open Sans";
}
.nvd3 .nv-axis .nv-axisMaxMin text {
    font-weight: bold !important;
}

.nvd3 .nv-multibar .nv-groups rect,
.nvd3 .nv-multibarHorizontal .nv-groups rect,
.nvd3 .nv-discretebar .nv-groups rect {
    fill-opacity: 1;
}

/*.nvd3 .tick line { stroke-dasharray: 4,1; }
*/
.row-fluid.notes {
    font-size: 80%;
}

@media (max-width: 480px){

}

#item-select ul.nav.nav-tabs.nav-stacked, #select-list ul.nav.nav-tabs.nav-stacked {
    margin-bottom: 0px;
}

.nvd3 .tick text {
    /* fill: rgba(0, 0, 0, 0.87); */
    font: normal 12px Open Sans;
}

.nv-context .nv-background rect {
    stroke: black;
    stroke-width: 1;
    stroke-opacity: 0.2;
}

.viscontainer{
    overflow: hidden;
}

.na-text {
    padding: 20px;
    font-weight: 100;
    text-align: center;
}

.row-fluid.header-container {
    padding-left:15px;
}
.visualization-container{
    padding: 10px 20px;
}

.option-select button.btn.visbtn {
    font-size: 12px;
}

.nv-point {
    stroke-opacity: 1!important;
    stroke-width: 5px!important;
    fill-opacity: 0!important;
}

.nv-point.hover {
    stroke-width: 13px!important;
    fill-opacity: .95 !important;
    stroke-opacity: .95 !important;
    z-index: 1000000;
}

g.nv-y g.zero line {
    stroke: rgba(0, 0, 0, 0.50);
    stroke-opacity: 0.9 !important;
    stroke-width: 1;
}

.chart-area {
    margin-bottom: 20px;
    padding: 10px 25px;
}
.notes {
    padding: 0px 50px;
    font-weight: 300;
    font-size: 14px;
}
