#options-select {
    font-size: 12px;
}

#select-list {
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 430px;
}

#chart {
    height: 450px;
}

.chartarea {
    padding: 10px 25px;
}

@media (max-width: 800px) {
    #options-select {
        margin-bottom: 30px;
    }
}