
#options-select {
    font-size: 12px;
}

#select-list {
    margin-top: 10px;
    overflow: scroll;
    overflow-x: hidden;
        height: 430px;
}

#chart{
	height: 450px;
}

.chartarea {
    margin-top: 20px;
    height: 450px;
}
